<html>
	<head>
		<title>Hej hopp</title>
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="/owl.carousel.min.css">
		<link rel="stylesheet" href="/owl.theme.default.min.css">
		<script src="/jquery.min.js"></script>
	</head>
	<body>
		<div class="wrapper">
			{{> navbar}}
			<div class="main">
				<div class="container">
					{{{body}}}
				</div>	
			</div>
			{{> footer}}
		</div>
		<script src="/owl.carousel.min.js"></script>
		<script src="/bootstrap.min.js"></script>
	</body>
</html>