<div class="container page-account">
	<h1>Account</h1>
	<h4>Role: {{user.role.name}}</h4>
	<h4>Credentials</h4>
	<ul>
		<li>Email: {{user.email}}</li>
		<li>Password: &bull;&bull;&bull;&bull;&bull;</li>
	</ul>
</div>