<div class="container page-index">
	<h1 class="starter-header">Startpage</h1>
	<p class="starter-text">Djangoooo! Foobar Foobi Doobi Damamiaimai Scooby-Doo.</p>
	<img src="/media/img/defeat.png" alt="">
	
	<div class="carousel-container">
		<div class="carousel-slide">
			<img src="/media/img/ars5.jpeg" id="lastClone" alt="">
			<img src="/media/img/ars1.jpeg" alt="">
			<img src="/media/img/ars2.jpeg" alt="">
			<img src="/media/img/ars3.jpeg" alt="">
			<img src="/media/img/ars4.jpeg" alt="">
			<img src="/media/img/ars5.jpeg" alt="">
			<img src="/media/img/ars1.jpeg" id="firstClone" alt="">
		</div>
	</div>

	<button id="prevBtn">Prev</button>
	<button id="nextBtn">Next</button>

</div>