<div class="starter-template">
	<h1 class="starter-header">Startpage</h1>
	<p class="starter-text">Djangoooo! Foobar Foobi Doobi Damamiaimai Scooby-Doo.</p>
</div>

<div class="container-news">
	<div class="news">
		<img src="/defeat.png" alt="">
	</div>
</div>

