<div class="container page-index">
	<h1 class="starter-header">Startpage</h1>
	<p class="starter-text">Djangoooo! Foobar Foobi Doobi Damamiaimai Scooby-Doo.</p>
	<img src="/media/img/defeat.png" alt="">
</div>