<form method="post" action="/reset">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" value="{{email}}">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>