*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.carousel-container{
    width: 800px;
    height: 600px;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
}

.carousel-slide{
    display: flex;
    width: 800px;
    height: 600px;
}