html,body {
	width: 100%;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.navbar {
	position: fixed;
	width: 100%;
}




.main {
	flex: 1;
	flex-basis: auto;
	margin-top: 56px;
}

div.card-body {
	height: 200px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
}

div.card {
	height: 400px;
	margin-top: 100px;
}


.starter-header {
	text-align: center;
	padding-top: 50px;
}

.starter-text {
	text-align: center;
	padding-top: 10px;
}

.container {
	max-width: 800px;
	margin-bottom: 20px;
}

.navbar-expand-lg>.container-fluid {
    padding-right: 0px;
    padding-left: 1000px;
}

.news img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 1.5%;
}

.owl-carousel{
	display: flex;
}




.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  clear: both;
}


